@model DMLedgerASP.ViewModels.NewBillViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Bill</h2>

@using (Html.BeginForm("Create", "Bill"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Bill.Name)
        @Html.TextBoxFor(m => m.Bill.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bill.Balance)
        @Html.TextBoxFor(m => m.Bill.Balance, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}