@model DMLedgerASP.ViewModels.NewBankAccountViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Bank Account</h2>

@using (Html.BeginForm("Create", "BankAccount"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.BankAccount.Name)
        @Html.TextBoxFor(m => m.BankAccount.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BankAccount.Balance)
        @Html.TextBoxFor(m => m.BankAccount.Balance, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}