<div class="col-lg-6">
    <h3>Bank Accounts</h3>

    <!-- Add new bank account to table, start of SPA development -->
    <label>Add New Bank Account</label>
    <form class="form-inline form-group-sm" id="newBank">
        <div class="form-group">
            <label>Bank Name</label><br/>
            <input id="bankName" name="bankName" required type="text" value="" class="form-control" placeholder="Bank Name" />
        </div>
        <div class="form-group">
            <label>Bank Balance</label><br />
            <input id="bankBalance" name="bankBalance" required type="text" value="" class="form-control" placeholder="Balance" />
        </div>
        <div class="form-group">
            <label hidden>Add Button</label><br />
            <button type="submit" id="bankSubmit" class="btn btn-primary btn-sm">Add</button>
        </div>
    </form><br />

    <!-- Bank Accounts Table -->
    <table id="accounts" class="display table table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="text-align:right">Total: </th>
                <th style="text-align:right" id="bankTotal"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
