@{
    ViewBag.Title = "User";
}

<h2>Ledger</h2>
<table id="userData" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Limit</th>
            <th>Payment Date</th>
            <th>Payment Amount</th>
            <th>Balance</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#userData").DataTable({
                ajax: {
                    url: "/api/Users",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id" + data + ">Delete</button>"
                        }
                    },
                ]
            });
        });
    </script>
}


