
@{
    ViewBag.Title = "User";
}

<h2>Ledger</h2>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#bankAccountTab">Bank Accounts</a></</li>
    <li role="presentation"><a data-toggle="tab" href="#creditCardTab">Credit Cards</a></li>
    <li role="presentation"><a data-toggle="tab" href="#billTab">Bills</a></li>
</ul>

<div id="activeTable" class="tab-content">
    <div id="bankAccountTab" class="tab-pane fade in active">@Html.Partial("_BankAccountTab")</div>
    <div id="creditCardTab" class="tab-pane fade">@Html.Partial("_CreditCardTab")</div>
    <div id="billTab" class="tab-pane fade">@Html.Partial("_BillTab")</div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/services")
    <script>
        $(document).ready(function () {
            // Generate datatables for bank accounts
            var account_table = $("#accounts").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: "bankAccounts"
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "balance",
                        className: "dt-body-right",
                        render: function (data) {
                            return "<td>$" + parseFloat(data).toFixed(2) + "</td>"
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-account-id=" + data + ">Delete</button>";
                        }
                    }
                ],
                // Displays sum of the balance column
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;

                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };
                    total = api
                        .column(1)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    $(api.column(1).footer()).html("Total: $" + parseFloat(total).toFixed(2));
                }
            });
            // target only the name and balance cells for editing api. Needs to be called after the table is created
            account_table.MakeCellsEditable({
                columns: [0, 1],
                inputTypes: [
                    {
                        column: 0,
                        type: "text"
                    },
                    {
                        column: 0,
                        type: "text"
                    }
                ],
                confirmationButton: {
                    confirmCss: "btn btn-primary",
                    cancelCss: "btn btn-default"
                }
            });
            // Generate the bills table
            var bill_table = $("#bills").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: "bills"
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "payment"
                    },
                    {
                        data: "dueDate"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-bill-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            var creditcard_table = $("#creditcards").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: "creditCards"
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "limit"
                    },
                    {
                        data: "balance",
                        editField: true
                    },
                    {
                        data: "payment",
                        editField: true
                    },
                    {
                        data: "dueDate",
                        editField: true
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-creditcard-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            // Post new bank account using jquery and ajax
            var bankForm = $("#newBank").submit(function (e) {

                e.preventDefault();

                if (account_table ? account_table : table) {
                    var bankModel = {
                        Name: $("#newBank").find($("#bankName")).val(),
                        Balance: $("#newBank").find($("#bankBalance")).val()
                    };

                    addHelper("/api/BankAccounts/CreateBankAccount", bankModel, account_table, bankForm);
                }

            });
            
            // Delete button for bank account table items
            $("#accounts").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure that you want to delete this entry?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/bankaccounts/" + button.attr("data-account-id"),
                            method: "DELETE",
                            success: function () {
                                account_table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            // Delete button for bills table items
            $("#bills").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure that you want to delete this entry?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/bills/" + button.attr("data-bill-id"),
                            method: "DELETE",
                            success: function () {
                                bill_table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            // Delete button for credit cards table items
            $("#creditcards").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure that you want to delete this entry?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/creditcards/" + button.attr("data-creditcard-id"),
                            method: "DELETE",
                            success: function () {
                                creditcard_table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
            });
    </script>
}


