@{
    ViewBag.Title = "About";
}
<h2>DMLedger</h2>
<h3>About the project</h3>

<p>
    I got the idea to make an application for my wife one day. I wanted to make something a
    little more compact than what she used before. Something to manage our finances including keeping track
    of bills, credit cards, and expenses.
</p>
