@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Feedback  is appreciated</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:21ricky@gmail.com">21ricky@gmail.com</a><br />
</address>