@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DMLedger</h1>
    <p class="lead">My application to help balance finances and keep track of bills and accounts all in one place!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First make an account with us, it's free!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register","Account")">Register</a></p>
    </div>
    
</div>